body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

footer {
    padding: 4rem 0rem 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: green;
    text-align: center;
}

@media (min-width: 20rem) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 30rem) {
    h1 {
        font-size: 4rem;
    }
}

/* navigation */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    padding: 1rem;
    border-radius: 0.2rem;
    flex-direction: column;
}

@media (min-width: 20rem) {
    nav {
        flex-direction: row;
    }
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

@media (min-width: 20rem) {
    nav a {
        padding-bottom: 0rem;
    }
}

nav a:hover {
    text-decoration: underline;
}

/* cards */

.card_list {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (min-width: 65rem) {
    .card_list {
        gap: 0rem;
    }
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -2.5rem;
    background-color: green;
    width: 10rem;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

@media (min-width: 65rem) {
    .card {
        flex-direction: row;
        margin-bottom: 2rem;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }
}

.card__item {
    background-color: #c1e2be ;
    height: 8rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
}

.card_link {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media (min-width: 65rem) {
    .card_link {
        flex-direction: column;
    }
}

.card_link__inner {
    background-color: #c1e2be;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
}

.card_link__inner:hover {
    text-decoration: underline;
}

/* file card */

.file_card__img {
    border-radius: 0.5rem;
}

/* edit */

.file_card {
    width: 100%;
}

@media (min-width: 50rem) {
    .file_card {
        flex-direction: row;
        margin-bottom: 2rem;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }
}

.edit_form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* buttons */

.buttons {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.button {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: white;
    text-decoration: none;
}

.delete_button {
    background-color: rgb(194, 37, 37);
}

.delete_button:hover {
    background-color: rgb(241, 95, 51);
    color: black;
}

.edit_button {
    background-color: rgb(37, 37, 194);
}

.edit_button:hover {
    background-color: rgb(61, 140, 243);
    color: #000;
}

.add_button {
    background-color: rgb(37, 194, 45);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.add_button:hover {
    background-color: rgb(67, 238, 15);
    color: black;
}